*
!*.*
!ai
!basic
!compiler
compiler/configuration.fky
!new_tedi
!terminal
!web
!docs
!docs/symbols
!docs/symbols/*
!html
!html/symbols
!html/topics
.*
*.o
*.c
*.a
*.so.*
*.txt
*.bak
*~*
s[0-9]*
!basic/**/*.c
!runtime
!runtime/*.c
!runtime/*.h
runtime/platform.h
examples
Makefile
adv2.fky
ai.sml
all_kinds_of_variables.fky
array_autogen.fky
autogen.sim
bottom_up_indentation.fky
bug_1.fky
build_symbol_metadata.fky
c8_1_hardwarekomponenten.txt
computations.txt
create_installer.sh
create_output_for_example.fky
example.fky
example.txt
example2.fky
fac.fky
fchat.fky
fde.codeblocks/
fib.fky
fib.profile
fib_debugger.h
fide.fky
fkybld.fky
funky.bugs
funky_bugs.txt
funky_finetuning_data.json
funky_implementation.txt
funky_installer.tgz
funky_project_manual.txt
gdb.txt
generate_documentation.fky
generate_funky_trainings_data.fky
generate_html_documentation.fky
generate_tables.fky
generate_tuple_methods.fky
hello.fky
hello.sim
html_viewer.fky
ideas.txt
int_methods.s
italic_smileys.sh
local_chat.html
ls_ctimes_sizes.fky
mouse.fky
my_print.fky
nlb2nodes.codeblocks/
nlb2nodes.fky
nlb2nodesmetadata.fky
nlb2parser.fky
nlb2pass.fky
nlb2serialization.fky
nlb2source.fky
nlbinfo.fky
once.txt
queries.txt
questions.txt
sieve.codeblocks/
sixel.codeblocks/
sixel.fky
fde.new_features
tedi.bugs
tedi.html
tedi.new_features
test.dat
test.fky
test.txt
test_model.fky
todo.txt
ws.symbols
